<!-- extendsを忘れないこと -->

{% extends "base.html" %}
{% block title %}about Me{% endblock %}
{% block content %}

<div class="background">
    <div class="container"></div>
    <div class="container greeting animate__animated animate__fadeInUp">
        <p>ようこそ</p>
    </div>
    <!--　以下実装のビジョン 
        ボタンをクリックするとSpotifyのWebAPIと連携する。
        fetchを使う。
    -->
    <div class="container animate__animated animate__fadeInUp">
    <h1>最近聞いた曲</h1>
    <button class="rounded-circle p-0" onclick="getRecentlyPlayedTracks()"><img src="static/images/Spotify_Icon_CMYK_Black.png" alt="spotify" width="100px"
        height="100px" data-toggle="tooltip" data-placement="right" title="Get from Spotify."></button>

    <div id="code"></div>
    <div id="tracks" class="row"></div>
    </div>
    <!-- -->

    <div class="container animate__animated animate__fadeInUp animate__delay-1s" id="portfolio">
        <h1>小沼 誠 の Portfolio (2023年11月現在)</h1>

        <br><br>
        <p>1997年11月11日生まれ。</p>
        <p>2021年 大阪大学法学部法学科を卒業。</p>
        <p>同年 東京海上日動システムズに入社。</p>
        <p>独学でプログラミング言語のpythonを学習中。</p>
        <p>godotエンジンを使ったゲーム開発も行っている。</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="container animate__animated animate__fadeInUp animate__delay-2s " id="links">
        <h1>Links</h1>
        <div class="row">
            <div class="col-md-6">
                <a href="https://github.com/nu3a178" target="_blank">
                    <img src="static/images/github-mark.png" class="rounded-circle" alt="my Github" width="150px"
                        height="150px" data-toggle="tooltip" data-placement="right" title="My Github.">
                    <div class="caption">
                    </div>
                </a>

            </div>
            <div class="col-md-6">
                <a href="mailto:nu197ma&#64;gmail.com">
                    <img src="static/images/gmail.png" class="rounded-circle" alt="my gmail" width="150px"
                        height="150px" data-toggle="tooltip" data-placement="right" title="My gmail.">
                    <div class="caption">
                    </div>
                </a>

            </div>
        </div>
    </div>

</div>

{% endblock %}