<!-- extendsを忘れないこと -->

{% extends "base.html" %}
{% block title %}about Me{% endblock %}
{% block content %}

<div class="background">
    <div class="container"></div>
    <div class="container greeting animate__animated animate__fadeInUp">
        <p>ようこそ</p>
    </div>
    <div class="container animate__animated animate__fadeInUp animate__delay-1s" id="portfolio">
        <h1>小沼 誠 の Portfolio </h1>

        <br><br>
        <p>2021年 大阪大学法学部法学科を卒業。</p>
        <p>同年 東京海上日動システムズに入社。</p>
        <p>独学でプログラミング言語のpythonを学習中。</p>
        <p>godotエンジンを使ったゲーム開発も行っている。</p>
        <p></p>
        <p></p>
        <p></p>
        <p></p>
    </div>
    <div class="container animate__animated animate__fadeInUp animate__delay-2s " id="links">
        <h1>Links</h1>
        <div class="row">
            <div class="col-md-4">
                <a href="#">
                    <img src="static/images/myface.png" class="rounded-circle" alt="my face" width="150px"
                        height="150px" data-toggle="tooltip" data-placement="right" title="It's Me.">
                    <div class="caption">
                    </div>
                </a>

            </div>
            <div class="col-md-4">
                <a href="https://github.com/nu3a178" target="_blank">
                    <img src="static/images/github-mark.png" class="rounded-circle" alt="my X" width="150px"
                        height="150px" data-toggle="tooltip" data-placement="right" title="My Github.">
                    <div class="caption">
                    </div>
                </a>

            </div>
        </div>
    </div>


</div>

{% endblock %}