

<div class="behindTopBar"></div>
<p>リダイレクトしています…</p>

    <input type="hidden" id = "access_token" name="access_token"/>
    <input type="hidden" id = "refresh_token" name= "refresh_token"/>
    <input type="hidden" id="get_date" name="get_date"/>

<script src="/static/js/spotify_api.js"></script>
<script>
    async function submit(){
    const code = new URLSearchParams(location.search).get("code");
    var tokens = await exchangeCodeToTokens(code);
    alert("exchanged token"+JSON.stringify(tokens))
    await setTokensToForm(tokens);

    var tokens = {
        "access_token" :document.getElementById("access_token").value,
        "refresh_token" :document.getElementById("refresh_token").value,
        "get_date" :document.getElementById("get_date").value
    }
    alert("set token"+JSON.stringify(tokens))
    var body = JSON.stringify(tokens);
    await fetch("/saveToken",{
        method:"POST",
            headers:{
                'Content-Type':'application/json'
            },
        body: body
    }).then(
        window.location.href = "/"
    ).catch(error=>error)
    
    }

    if (window.location.search) {
        submit();
    }

</script>
